html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #2D3440;
    background-color: #FEAFC3;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    width: 1170px;
}


.navigation-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: 16px;
    margin-top: 34px;
    margin-bottom: 34px;
}

.navigation-user {
    margin-left: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.navigation-link {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #2D3440;
    text-decoration: none;
    padding: 8px 16px;
}

.navigation-link-current {
    background: #FF4A78;
    border-radius: 26px;
    color: #FCFCFC;
}

.navigation-number {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #2D3440;
}

.navigation-link-search {
    width: 32px;
    height: 32px;
    margin-left: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(252, 252, 252, 0.3);
}

.navigation-link-search:hover {
    background: #FCFCFC;
    border-radius: 50%;

}

.navigation-link-search:active {
    background: #fcfcfc;
    border: 2px solid #2D3440;
    box-sizing: border-box;
}


.navigation-link-login {
    font-size: 14px;
    line-height: 20px;
    padding: 6px 16px 6px 40px;
    background: rgba(252, 252, 252, 0.3);
    border-radius: 26px;
    margin-left: 16px;
    border: 2px solid transparent;

}

.navigation-icon-login {
    position: absolute;
    top: 6px;
    left: 16px;
}

.navigation-link-login:hover {
    background: #FCFCFC;
    border-radius: 26px;
    box-sizing: border-box;
}

.navigation-link-login:active {
    border-radius: 26px;
    border: 2px solid #2D3440;
    box-sizing: border-box;
}

.navigation-link-basket {
    font-size: 14px;
    line-height: 20px;
    background: rgba(252, 252, 252, 0.3);
    border-radius: 26px;
    margin-left: 16px;
    border: 2px solid transparent;
}

.navigation-link-basket {
    padding: 6px 16px 6px 40px;
}

.navigation-icon-basket {
    position: absolute;
    top: 6px;
    left: 16px;
}

.navigation-link-basket:hover {
    background: #FCFCFC;
    border-radius: 26px;
}

.navigation-link-basket:active {
    border-radius: 26px;
    border: 2px solid #2D3440;
}

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1170px;
    margin: 0 auto;
}

.ice-cream {
    margin-bottom: 80px;
}

.ice-cream-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
}

.ice-cream-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.ice-cream-button {
    color: #242424;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.gift {
    margin-bottom: 80px;
}

.gift-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin: 0px;
    margin-bottom: 56px;
}

.gift-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0px;
    margin-bottom: 16px;
}

.gift-text {
    width: 320px;
    margin: 0px;
    margin-bottom: 32px;
}

.gift-container {
    display: flex;
    justify-content: space-between;
}

.gift-block {
    width: 570px;
    border-radius: 16px;
    box-sizing: border-box;
    background: #FF7799;
    padding: 40px 0px 40px 40px;
    background-repeat: no-repeat;
}

.gift-raspberries {
    background-image: url(../images/raspberries.png);
    background-position: top 28px;
    background-position: right 15px;
}

.gift-marshmallow {
    background-image: url(../images/marshmallow.png);
    background-position: top 19px;
    background-position: right 7px;
}

.gift-button {
    color: #242424;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    padding: 12px 32px;
    background: #FCFCFC;
    border: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
}

.button-color-white:hover {
    background: rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
}

.button-color-white:active {
    background: #FCFCFC;
    border: 2px solid #2D3440;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.popular {
    margin-bottom: 80px;
}

.popular-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin: 0;
    margin-bottom: 107px;
}

.products-list {
    display: flex;
    gap: 91px 30px;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.products-item {
    width: 270px;
    background-color: white;
    border-radius: 16px;
    padding: 133px 40px 24px 40px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;

}

.products-img {
    position: absolute;
    bottom: 164px;
    left: 51px;
    border-radius: 50%;
}

.products-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
}

.products-text {
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}

.products-price {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.container-price-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-basket {
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #FF2F64;
    border-radius: 50%;
    border: 2px solid #FF2F64;
    cursor: pointer;
}

.button-basket:hover {
    background: rgba(252, 252, 252, 0.3);
    border: 2px solid #FF2F64;
    border-radius: 50%;
}

.button-basket:hover .shoper-icon {
    fill: #2D3440;
}

.button-basket:active {
    background: #FF2F64;
    border: 2px solid #2D3440;
    border-radius: 50%;
}

.button-basket:active .shoper-icon {
    fill: #FCFCFC;
}

.about-us {
    background-image: url(../images/wafer-bg.jpg);
    background-color: #fcfcfc;
    border-radius: 16px;
    margin-bottom: 80px;
    padding: 16px;
}

.about-us-container {
    background-color: #fcfcfc;
    padding: 56px 40px;
}

.about-us-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin: 0px;
    margin-bottom: 56px;
}

.about-us-list {
    display: grid;
    grid-template-columns: 506px 506px;
    justify-content: space-between;
    gap: 40px 0px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.about-us-item {
    padding-left: 64px;
}

.ice-icon {
    background-image: url(../images/ice-icon.svg);
    background-repeat: no-repeat;
}

.cow-icon {
    background-image: url(../images/cow-icon.svg);
    background-repeat: no-repeat;
}

.leaf-icon {
    background-image: url(../images/leaf-icon.svg);
    background-repeat: no-repeat;
}

.thermomenre-icon {
    background-image: url(../images/thermomenre-icon.svg);
    background-repeat: no-repeat;
}

.blog-mail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.blog {
    height: 220px;
    font-size: 16px;
    line-height: 20px;
    background-image: url(../images/bg-blog.jpg);
    background-size: 570px 220px;
    background-position: center;
    background-color: #ffffff;
    width: 570px;
    padding: 32px 235px 64px 32px;
    box-sizing: border-box;
    border-radius: 16px;
}

.blog-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    margin-top: 12px;
}

.mail {
    width: 570px;
    background-color: white;
    padding: 32px 30px 32px 32px;
    border-radius: 16px;
    box-sizing: border-box;
}

.mail-text {
    margin: 0px;
    margin-bottom: 42px;
}

.mail-input {
    width: 332px;
    height: 48px;
}

.mail-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 32px;
    background: #FF2F64;
    border: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    color: #fcfcfc;
    cursor: pointer;
}

.delivery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    background-image: url(../images/bg-delivery.jpg);
    background-size: 120%;
    border-radius: 16px;
    min-height: 534px;
}

.delivery-container-text {
    width: 372px;
    margin-top: 167px;
    margin-left: 100px;
}

.delivery-container {
    margin: 64px 64px 64px 0px;
    background-color: #fcfcfc;
    border-radius: 16px;
    padding: 40px;
}

.delivery-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    margin: 0;
    margin-bottom: 24px;
}

.delivery-text {
    margin: 0px;
}

.delivery-form-text {
    margin: 0;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 22px;
    width: 380px;
}

.delivery-label {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.delivery-form {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    display: grid;
    grid-template-columns: 117px 287px;
    gap: 20px 12px;
}

.delivery-input {
    width: 100%;
    height: 48px;
}

.delivery-address {
    grid-column: 1 / -1;
}


.delivery-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fcfcfc;
    padding: 12px 32px;
    background: #FF2F64;
    border: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    grid-column: 1/-1;
    justify-self: center;
    margin-top: 12px;
    cursor: pointer;
}

.button-form:hover {
    background: rgba(252, 252, 252, 0.3);
    border: 4px solid #FF2F64;
    border-radius: 26px;
    color: #2D3440;
}

.button-form:active {
    color: #fcfcfc;
    background: #FF2F64;
    border: 2px solid #2D3440;
    border-radius: 26px;
}

.feedback {
    padding-top: 64px;
    padding-left: 64px;
    padding-bottom: 64px;
    box-sizing: border-box;
    background-image: url(../images/bg-feedback.jpg);
    background-color: white;
    border-radius: 16px;
}

.feedback-container {
    background-color: #fcfcfc;
    border-radius: 16px;
    min-height: 364px;
    width: 343px;
}

.feedback-list {
    margin: 0;
    list-style-type: none;
    padding: 40px 40px 32px 40px;
}

.feedback-text {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.feedback-address {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
}

.feedback-number {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.feedback-time {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.feedback-button-number {
    text-decoration: none;
    color: #2D3440;
}

.feedback-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fcfcfc;
    text-decoration: none;
    padding: 12px 32px;
    background: #FF2F64;
    border: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    margin: 0px 0px 40px 40px;
}

.footer-page-container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    padding: 48px 0;
}

.social-group {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 13px;
}

.social-link {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
}

.social-link:hover {
    background: #2d3440;
    border-radius: 50%;
}


.provider-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    display: grid;
    grid-template-columns: 150px 193px;
    gap: 8px 24px;
}

.pd {
    padding-left: 24px;
}

.provider-item-link {
    text-decoration: none;
    color: #2D3440;
}

.provider-item-bold {
    font-weight: 700;
    position: relative;

}

.provider-item-bold::before {
    content: url(../images/heart-icon.svg);
    position: absolute;
    top: 1px;
    left: 0;
}

.copyright {
    margin-left: 200px;
    width: 193px;
    margin-right: 14px;
}

.copyright-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    margin-top: 16px;
}

.catalog-container {
    display: flex;
    flex-direction: column;
    width: 1170px;
    margin: 0 auto;
}

.breadcrumbs {
    margin-bottom: 40px;
}

.breadcrumbs-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    margin: 0px;
    margin-top: 16px;
}


.breadcrumbs-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}



.breadcrumbs-link {
    display: block;
    margin-right: 8px;
    text-decoration: none;
    color: #2D3440;
}


.products-next {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding: 42px 0px;
}

.pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}


.pagination-link {
    text-decoration: none;
    color: #2D3440;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 24px;
    min-height: 24px;
    border: 1px solid transparent;
}

.pagination-link-current {
    background: #fcfcfc;
    border-radius: 50%;
}

.pagination-link:hover {
    background: rgba(252, 252, 252, 0.3);
    border: 1px solid #FCFCFC;
    border-radius: 50%;
}

.pagination-link:active {
    background: rgba(252, 252, 252, 0.3);
    border: 1px solid #2D3440;
    border-radius: 50%;
}

.pagination-container {
    display: flex;
    align-items: center;
}

.pagination-button-left {
    min-width: 16px;
    min-height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.pagination-button-right {
    min-width: 16px;
    min-height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
}

.products-next-button {
    margin: auto;
    padding: 12px 32px;
    background: #FCFCFC;
    border: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}