html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #2D3440;
    background-color: #FEAFC3;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    width: 1170px;
}


.navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 400px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: 16px;
}

.navigation-user {
    text-align: center;
    max-width: 420px;
    margin-left: auto;

}

.navigation-user .navigation-link {
    min-width: 16px;
    min-height: 22px;
}

.navigation-link {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    color: #2D3440;
    background-color: #FEAFC3;
    text-decoration: none;
    padding: 34px 5px;
}

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1170px;
    margin: 0 auto;
}

.ice-cream {
    margin-bottom: 80px;
}

.ice-cream-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
}

.ice-cream-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.ice-cream-button {
    color: #242424;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.gift {
    margin-bottom: 80px;
}

.gift-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin: 0px;
    margin-bottom: 56px;

}

.gift-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0px;
    margin-bottom: 16px;
}

.gift-text {
    width: 320px;
    margin: 0px;
    margin-bottom: 32px;
}

.gift-container {
    display: flex;
    justify-content: space-between;
}

.gift-block {
    width: 570px;
    border-radius: 16px;
    box-sizing: border-box;
    background: #FF7799;
    padding: 40px 0px 40px 40px;

}


.gift-button {
    color: #242424;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    padding: 12px 32px;
    background: #FCFCFC;
    border: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
}

.popular {
    margin-bottom: 80px;
}

.popular-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin: 0;
    margin-bottom: 56px;
}

.products-list {
    display: flex;
    gap: 40px 30px;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}


.products-item {
    width: 270px;
    background-color: white;
    border-radius: 16px;
}



.products-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
}

.products-text {
    margin: 0 40px;
    text-align: center;
    margin-bottom: 20px;
}

.products-price {
    margin: 0;
    margin-left: 40px;
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.about-us {
    background-image: url(../images/wafer-bg.jpg);
    background-color: #fcfcfc;
    border-radius: 16px;
    margin-bottom: 80px;
    padding: 16px;
}

.about-us-container {
    background-color: #fcfcfc;
    padding: 56px 40px;
}

.about-us-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin: 0px;
    margin-bottom: 56px;
}

.about-us-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.about-us-item {
    width: 442px;

}

.blog-mail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.blog {
    font-size: 16px;
    line-height: 20px;
    background-image: url(../images/bg-blog.jpg);
    background-size: 570px 220px;
    background-position: center;
    background-color: #ffffff;
    width: 570px;
    padding: 32px 235px 64px 32px;
    box-sizing: border-box;
    border-radius: 16px;
}

.blog-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    margin-top: 12px;
}

.mail {
    width: 570px;
    background-color: white;
    padding: 32px 30px 32px 32px;
    border-radius: 16px;
    box-sizing: border-box;
}

.mail-text {
    margin: 0px;
    padding-bottom: 42px;
}

.mail-input {
    width: 332px;
    height: 48px;
}

.mail-button {
    padding: 12px 32px;
    background: #FF2F64;
    border: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
color: #fcfcfc;
}

.delivery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    background-image: url(../images/bg-delivery.jpg);
    background-size: 120%;
    border-radius: 16px;
    min-height: 534px;

}

.delivery-container-text {
    width: 372px;
    margin-top: 167px;
    margin-left: 100px;
}

.delivery-container {
    margin: 64px 64px 64px 0px;
    background-color: #fcfcfc;
    border-radius: 16px;
    padding: 40px;
}

.delivery-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    margin: 0;
    margin-bottom: 24px;
}

.delivery-text {
    margin: 0px;
}

.delivery-form-text {
    margin: 0;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 22px;
    width: 380px;

}

.delivery-group {
    margin: 0;
    display: flex;
    flex-direction: column;

}

.delivery-form {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    display: grid;
    grid-template-columns: 117px 287px;
    gap: 20px 12px;
}

.delivery-input {
    width: 100%;
    height: 48px;
}

.delivery-address {
    grid-column: 1 / -1;
}


.delivery-button {
    color: #fcfcfc;
    align-items: center;
    padding: 12px 32px;
    background: #FF2F64;
    border: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    grid-column: 1/-1;
    justify-self: center;
    margin-top: 12px;
}

.feedback {
    padding: 64px 763px 64px 64px;
    background-image: url(../images/bg-feedback.jpg);
    background-color: white;
    border-radius: 16px;
}

.feedback-container {
    background-color: #fcfcfc;
    border-radius: 16px;
    min-height: 343px;
}

.feedback-list {
    margin: 0;
    list-style-type: none;
    padding: 40px 40px 32px 40px;
}

.feedback-text {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.feedback-address {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
}

.feedback-number {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.feedback-time {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.feedback-button-number {
    text-decoration: none;
    color: #2D3440;
}

.feedback-link {
    margin: 0px 0px 40px 40px;
}

.feedback-button {
    color: #fcfcfc;
    text-decoration: none;
    align-items: center;
    padding: 12px 32px;
    background: #FF2F64;
    border: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
}

.provider-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

}


.footer-page-container {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 48px;
}

.social-group {
    width: 105px;
    display: flex;
}

.provider-list {
    width: 356px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 356px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 48px;
    gap: 8px 24px;
}

.provider-item-link {
    text-decoration: none;
    color: #2D3440;
}

.provider-item-bold {
    font-weight: 700;
}

.copyright {
    width: 193px;
    margin-right: 14px;
}

.copyright-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    margin-top: 16px;
}

.catalog-container {
    display: flex;
    flex-direction: column;
    width: 1170px;
    margin: 0 auto;
}

.breadcrumbs {
    margin-bottom: 40px;
}

.breadcrumbs-list {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.breadcrumbs-link {
    display: block;
    margin-right: 8px;
}

.breadcrumbs-title {
    margin: 0px;
    margin-top: 16px;
}

.products-next {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding: 42px 0px;
}

.pagination {
    list-style-type: none;
    margin: 0;
    display: flex;
}

.pagination-item {
    margin-right: 16px;
}

.products-next-button {
    margin: auto;
    padding: 12px 32px;
    background: #FCFCFC;
    border: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
